body {
    background-image: url('../src/bg.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .App {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e1e8e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  h1 {
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
  }

  label {
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  .result {
    margin-top: 20px;
    font-size: 38px;
    color: #28a745;
  }